__pycache__/
*.pyc
*.pyo
*.pyd
.Python
android_app/
venv/
.env.local
instance/*.db
instance/*.pem
instance/*.txt
app/static/uploads/avatars/*
app/static/uploads/files/*
!app/static/uploads/.gitkeep
!app/static/uploads/avatars/.gitkeep
!app/static/uploads/files/.gitkeep
